#!/bin/sh

# alias de drix
alias vpnlab='ssh -C -D 1080 tdl.io'
alias grep='grep --color'
alias rgrep='rgrep --color -n -I --exclude=\*tags\*'
alias ls='ls --color'
alias l='ls -l'
alias ll='l -AF'
alias ssh='ssh -X'
alias v='vi -O'
alias m='meld'
alias g='gvim -O'
alias ga='gitk --all &'
alias telnet='echo "halt; stm32x unlock 0; reset halt; flash write_image erase main; reset\n" && telnet'
alias tree="tree -C"
alias py='python'

##################
# zsh aliases    #
##################

alias ne="emacs -nw"
alias emacs="XMODIFIERS='' emacs"
alias e="emacs"
alias vim="vim -O"

# Common aliases
alias pu="pushd"
alias po="popd"
alias d="dirs -v"
alias pss="ps aux | head -n 1 && ps lax | grep -v grep  | grep -i"
alias df="df --human-readable"
alias du="du --human-readable"
alias duh="du --all --max-depth=1 | sort -n"
alias cp="cp -vR"
# List only directories and symbolic links that point to directories
alias lsd="ls -ld *(-/DN)"
# List only file beginning with "."
alias lsa="ls -ld .*"
alias lcat="cat -n"

# Global aliases -- These do not have to be at the beginning of the command line.
alias -g M="|more"
alias -g H="|head"
alias -g T="|tail"

# Avoid corrections
alias mv="nocorrect mv"       # no spelling correction on mv
alias cp="nocorrect cp"       # no spelling correction on cp
alias mkdir="nocorrect mkdir" # no spelling correction on mkdir

# Personal utils
alias resource="source $HOME/.zshrc && echo \"re-sourcing zsh configuration files...\""

alias tsf="mplayer http://broadcast.infomaniak.net:80/tsfjazz-high.mp3"
alias nova="mplayer http://broadcast.infomaniak.net:80/radionova-high.mp3"
alias jazzfm="mplayer mmsh://wm-tlrc.london.as34763.net/jazz1\?MSWMExt=.asf"
alias nme="mplayer http://78.129.242.63:80/\;stream.mp3"
alias bass="mplayer -af pan=1:1:0"
alias keys="mplayer -af pan=1:0:1"

# Aliases for main server
alias rec="ffmpeg -f alsa -ac 1 -i hw:1,0 -acodec libmp3lame -ab 96k"
alias webcam="gst-launch-0.10 autovideosrc ! video/x-raw-yuv,framerate=\(fraction\)30/1,width=640,height=480 ! ffmpegcolorspace ! autovideosink"
alias wcrec="ffmpeg -f alsa -i hw:1,0 -f video4linux2 -s 800x600 -i /dev/video0 -r 30 -f avi -vcodec mpeg4 -vtag xvid -sameq -acodec libmp3lame -ab 96k"

# Others
alias distro="lsb_release -a"

